 <BR>
 <%= link_to "<< Back to part detail",{ :controller => "Product_Details", :action => "index", :id => @part_id } %>
 <BR><BR>
 <img border=0  src="/Admin_Product_Edit/picture/<%= @picture.id %>" />



