body {
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	scrollbar-3dlight-color : #666666;
	scrollbar-arrow-color : red;
	scrollbar-base-color : #9dacbd;
	scrollbar-darkshadow-color : black;
	scrollbar-face-color : white;
	scrollbar-highlight-color : gray;
	scrollbar-shadow-color : #999999;
	scrollbar-track-color : #666666;
}
.bodytitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
.bodytxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}
.subtitle {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FF6600;
}
.tabletext {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
	
td {
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	}
p {
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	}
ul {
	list-style:  url(../../../../../../Local%20Settings/Temporary%20Internet%20Files/images/arrow.gif);
	}
h1 {
	font-size: 30px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	}
h2 {  
	font-size: 19px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	 }
h3 {
	font-size: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	}
	
.main {  
	font-size: 12px; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #DDDDDD; 
	}
.cell {
	border: 1px solid Gray;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	background:#FFFFFF;
	}
.cellblue {
	color: #000000;
	font-size: 13px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	background: #9DACBD;
	border: 1px solid Gray;
	letter-spacing : 1px;
	}
.cellred {
	color: #000000;
	font-size: 13px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	background: red;
	border: 1px solid Gray;
	letter-spacing : 1px;
}
.picture {
	border: 1px solid Red;
	vertical-align : middle;
	text-align : center;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #DDDDDD;
	}
.formright {
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	background: #FFFFFF;
	line-height : 24px;
	text-align : right;
}
.formleft {
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000000;
	background: #FFFFFF;
	line-height : 24px;
	text-align : left;
	}
.footer {
	font-size: 9px;
	text-transform: uppercase;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: right;
	color: #000000;
	white-space : nowrap;
	}
.button {
	cursor: hand;
	background-color: #9DACBD;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:11px;
	color: White;
	border: 1px solid Gray;
	margin:6px;
	}
	
.spacer{
    vertical-align: top;
	text-align: left;
	}
	
.topnav {
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	white-space : nowrap;
	background: #FFFFFF;
	text-align: right;
	}
a.topnav {
	color : White;
	}
a.topnav:hover {
	color : red;
	}

.bottomnav {
	color: black;
	text-decoration: none;
	background: #999999;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	font-variant : small-caps;
	word-spacing : 5px;
	}
	
a {  
	text-decoration: none;
	color: red;
	}
a:hover {  
	color: red;
	}

input.field {
	background-color: #E8E9D6; 
	font-family:Verdana, Arial; 
	font-size:11px; 
	color: black;
	}

textarea.fields {
	background-color: #E8E9D6; 
	font-family:Verdana, Arial; 
	font-size:11px; 
	color: black;
	}
	
.cellgray {
	color: #000000;
	font-weight: bold;
	font-size: 13px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	white-space : nowrap;
	background: #DDDDDD;
	text-align: center;
	word-spacing : 5px;
	}

.textred {
	font-size: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	color: red;
	text-align: center;
	}