<BR>
<h2> Your order has been sent! </h2>  
<br/>
<br/>
Thank you for sending your order to us. One of our sales representatives will review your order and contact you as soon as possible via the contact information you have provided. Please note that your order is not finalized until you have spoken to a sales representative and have provided payment information
<br/>
<br/>
You may now <a href="/shopping_cart/index"> return to order list </a>, or <a href="/part/index"> return to parts lookup </a>

