
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
</head>
<body bgcolor=#FFFFFF leftmargin=0 topmargin=0 marginwidth=0 marginheight=0>
<!-- begin main table -->
KBCores Customer <strong><%= @name %></strong> with <strong><%= @company %></strong> has created the below order list. 
<br/><br/>  
You may contact this customer via phone: <strong><%= @phone %></strong> or mail: <strong><%= @address %></strong>.</span>

<% if @products %>
<CENTER>
	
<TABLE cellpadding=2 cellspacing=2 class=tabletext   style="border-top: 2px solid black;border-bottom: 2px solid black;border-left: 2px solid black;border-right: 2px solid black;font-size: 105%" >
<TR><TD colspan=8 align=center>
	
	<table><tr>
		<td><strong>Name: </strong></td><td><%= @name %></td>
	    <td><strong>Company: </strong></td><td><%= @company %></td>	
		</tr>
		<tr>
		    <td><strong>Phone Number: </strong></td><td><%= @phone %></td>	
			<td><strong>Address: </strong></td><td><%= @address %></td>
	</tr></table>	
	
	</TD></TR>

<TR>
<TD></TD><TD></TD>
<TD width=100><b>Part Number</b></TD>
<TD width=100><b>Manufacturer</b></TD>
<TD width=200><b>Part Description</b></TD>
<TD></TD>
<TD><b>Quantity<b></TD>
<TD nowrap><b> Customer Notes<b></TD>
</TR>
<% @products.each do | partArr | %>
<TR>
   <% part = partArr[1] %>
   <%   @picture = Picture.find(:first, :conditions => " name = '" + part.part_no + "-1.jpg'") %>
   <TD>
			 <% if @picture %>
				<img border=0  width=100 src="http://www.kbcores.com:10030/Admin_Product_Edit/picture/<%= @picture.id %>" />
			 <% else %>
			 	<img border=0 width=100 src="http://www.kbcores.com:10030/images/photo_coming_soon.jpg" />
		 	 <% end %>
   </TD>   
   <TD>   
   </TD>
   <TD>
      <%= part.part_no %>
   </TD>
   <TD>

        <%= part.manufacturer %>

   </TD>   
   <TD>
        <%= part.description %>
   </TD>

<TD></TD>
   <TD>
    <%= part.get_quantity %>
   </TD>
      <TD>
    <%= part.get_notes %>
   </TD>
</TR>

<% end %>

</TABLE>

</CENTER>
<% end %>

</body>
</html>




