<html>
<head>
<title>KB Cores Message Form</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
<script language="JavaScript">
<!--

function preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.p) d.p=new Array();
    var i,j=d.p.length,a=preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.p[j]=new Image; d.p[j++].src=a[i];}}
}

function openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}

function swapImgRestore() { //v3.0
  var i,x,a=document.sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function swapImage() { //v3.0
  var i,j=0,x,a=swapImage.arguments; document.sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=findObj(a[i]))!=null){document.sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}
//-->
</script>

<script language="JavaScript">
<!--
window.focus();
// -->
</script>
</head>

<body bgcolor="#CCCCCC">
<!-- form begins here -->
<form method=post action="/scripts/mailform.asp">
<input type=hidden name="RECIPIENT" value="kbcores@aol.com">
<input type=hidden name="SUBJECT" value="E-mail from KB Cores Web Site">
<input type=hidden name="REDIRECT" value="/main/thankyou.asp">
<input type=hidden name="SORT" value="Name,Company,Address,City,State,Zip Code,Telephone,Fax,E-mail,Comments">

<center>
  <table bgcolor="#CCCCCC" border="0" cellpadding="0" cellspacing="0">
    <tr>
  	<td width="50%"><img name="space" src="/images/space.gif" width="1" height="12" border="0" alt=""></td>
    <td height=75 rowspan=8 valign=top><img name="logo" src="/images/logo.jpg" width="84" height="75" border="0" alt="KB Cores"></td>
	<td colspan=2><img name="space" src="/images/space.gif" width="346" height="12" border="0" alt=""></td>
	<td width="50%"><img name="space" src="/images/space.gif" width="1" height="12" border="0" alt=""></td>
   </tr>
  <tr> 
  	  <td bgcolor=#333333 width="50%"><img name="space" src="/images/space.gif" width="1" height="19" border="0" alt=""></td>
    <td colspan=2 bgcolor="#333333"><img name="space" src="/images/space.gif" width="1" height="19" border="0" alt=""></td>
	<td bgcolor=#333333 class="topnav" width="50%"><img name="space" src="/images/space.gif" width="1" height="17" border="0" alt=""></td>
   </tr>
  <tr> 
  	<td bgcolor=#CCCCCC width="50%"><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
	<td colspan=2 bgcolor=#CCCCCC><img name="space" src="/images/space.gif" width="346" height="1" border="0" alt=""></td>
	<td bgcolor=#CCCCCC width="50%"><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
   </tr>
  <tr>
  	<td style="background-image: url(/images/bar.gif)" width="50%" height="19" border="0" alt=""></td>
	<td colspan=2 style="background-image: url(/images/bar.gif)" width="346" height="19" border="0" alt=""></td>
	<td style="background-image: url(/images/bar.gif)" width="50%" height="19" border="0" alt=""></td>
   </tr>
  <tr>
  	<td bgcolor=#CCCCCC width="50%" height="18" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="18" border="0" alt=""></td> 
	<td bgcolor=#CCCCCC width="346" height="18" border="0" alt="" align=right>contact form<img name="space" src="/images/space.gif" width="5" height="1" border="0" alt=""></td>
	<td bgcolor=#CCCCCC width="13" height="18" border="0" alt=""><img name="arrow" src="/images/arrow.gif" width="13" height="13" border="0" alt=""></td>
  	<td bgcolor=#CCCCCC width="50%" height="18" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="18" border="0" alt=""></td> 
   </tr>
  <tr> 
	<td bgcolor=#FF0000 width="50%" height="1" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
	<td colspan=2 bgcolor=#FF0000 width="346" height="1" border="0" alt=""><img name="space" src="/images/space.gif" width="346" height="1" border="0" alt=""></td>
	<td bgcolor=#FF0000 width="50%" height="1" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
   </tr>
  <tr> 
	<td bgcolor=#999999 width="50%" height="4" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="4" border="0" alt=""></td>
	<td colspan=2 bgcolor=#999999 width="346" height="4" border="0" alt=""><img name="space" src="/images/space.gif" width="346" height="4" border="0" alt=""></td>
	<td bgcolor=#999999 width="50%" height="4" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="4" border="0" alt=""></td>
   </tr>
  <tr> 
	<td bgcolor=#FF0000 width="50%" height="1" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
	<td colspan=2 bgcolor=#FF0000 width="346" height="1" border="0" alt=""><img name="space" src="/images/space.gif" width="346" height="1" border="0" alt=""></td>
	<td bgcolor=#FF0000 width="50%" height="1" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
   </tr>
</table>
<center>
    <table width="430" border="0" cellspacing="0" cellpadding="4">
	<tr>
		<td colspan="3"><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
	</tr>
	</table
><table width="430" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="cell">
    <table width="430" border="0" cellspacing="0" cellpadding="6">
	<tr>
		<td colspan="3"><img name="space" src="/images/space.gif" width="1" height="2" border="0" alt=""></td>
	</tr>
	<tr>
		<td rowspan="9" width="10%"><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
		<td width=70>Full Name:</td>
		<td><input class="field" type=text name="Name" size=35></td>
	</tr>

	<tr>
		<td>Company:</td>
		<td><input class="field" type=text name="Company" size=35></td>
	</tr>

	<tr>
		<td>Address:</td>
		<td><input class="field" type=text name="Address" size=35></td>
	</tr>

	<tr>
		<td>City:</td>
		<td><input class="field" type=text name="City" size=35></td>
	</tr>

	<tr>
		<td>State:</td>
		<td><input class="field" type=text name="State" size=35></td>
	</tr>

	<tr>
		<td>Zip Code:</td>
		<td><input class="field" type=text name="Zip Code" size=35></td>
		</tr>

	<tr>
		<td>Phone:</td>
		<td><input class="field" type=text name="Telephone" size=35></td>
	</tr>

	<tr>
		<td>Fax:</td>
		<td><input class="field" type=text name="Fax" size=35></td>
	</tr>

	<tr>
		<td>E-mail:</td>
		<td><input class="field" type=text name="E-mail" size=35></td>
	</tr>

	<tr>
		<td colspan=3><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
	</tr>

	<tr>
		<td colspan=3 valign="middle" height="202"><fieldset> <legend class="main"><b>Please 
		  provide comments and questions below:&nbsp;&nbsp;</b></legend><br>
		  <div align="center"> 
		<textarea class="fields" rows="8" cols="40" name="Comments" wrap="physical"></textarea></div>
		  <br>
		  </fieldset> </td>
	</tr>

	<tr>
		<td colspan="3" valign="top" align="center">
		  <input class="button" type="submit" value="Send Message">
		  <input class="button" type="reset" value="Reset">
	</td>
	</tr>	
</table>

</td></tr></table>
</center>
<center>
  <table border="0" cellpadding="0" cellspacing="0">
 	<tr>
	<td bgcolor=#CCCCCC width="50%" height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="8" border="0" alt=""></td>
	<td bgcolor=#CCCCCC colspan=2 width="430" height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="430" height="8" border="0" alt=""></td>
	<td bgcolor=#CCCCCC width="50%" height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="8" border="0" alt=""></td>
	</tr>
	
	<tr>
	<td bgcolor=#999999 width="50%" height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="8" border="0" alt=""></td>
	<td bgcolor=#999999 width="245" height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="8" border="0" alt=""></td>
	<td bgcolor=#999999 width=185 rowspan=3 height="17" border="0" alt="" class="footer">
		<img name="space" src="/images/space.gif" width="5" height="8" border="0" alt="">
		Copyright &copy; 2003 KB Cores
		<img name="space" src="/images/space.gif" width="5" height="8" border="0" alt=""></td>
	<td bgcolor=#999999 width="50%" height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="8" border="0" alt=""></td>
	</tr>
	
	<tr>
	<td bgcolor=#33333 width="50%" height="1" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
	<td bgcolor=#33333 height="1" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
	<td bgcolor=#33333 width="50%" height="1" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
	</tr>

	<tr>
	<td bgcolor=#999999 width="50%" height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="8" border="0" alt=""></td>
	<td bgcolor=#999999 height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="8" border="0" alt=""></td>
	<td bgcolor=#999999 width="50%" height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="8" border="0" alt=""></td>
	</tr>
	
</table>

</center>
</form>
<!-- form ends here -->
</body>
</html>
