<html>
<head>
<%= define_javascript_functions %>
<title>KB Cores</title>
<meta name="description" content="KB Cores buys, sells, and offers trade arrangements for scrap engines, pistons, transmissions, scrap aluminum, and almost any automotive part.  We disassemble thousands of engines and transmissions each month for rebuildable parts.">
<meta name="keywords" content="kb cores, scrap, automotive scrap, automotive cores, engine cores, automotive parts, scrap farrous, scrap non-farrous, engines, crankshafts, cylinder heads, automotive surplus, automotive parts used, cores, transmissions, transmission, component parts">
<link rel="stylesheet" href="/stylesheets/kbcores.css" type="text/css">
<script language="JavaScript">
<!--

function preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.p) d.p=new Array();
    var i,j=d.p.length,a=preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.p[j]=new Image; d.p[j++].src=a[i];}}
}

function openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}

function swapImgRestore() { //v3.0
  var i,x,a=document.sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function swapImage() { //v3.0
  var i,j=0,x,a=swapImage.arguments; document.sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=findObj(a[i]))!=null){document.sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}
//-->
</script>
</head>

<body bgcolor="#FFFFFF" onload="preloadImages('/images/contact_f2.gif');">

 

<TABLE bgcolor="#CCCCCC" border="0" cellpadding="0" cellspacing="0" width="100%" >
<TR>
<TD width=25></TD>
<TD>
 <TABLE bgcolor="#CCCCCC" border="0" cellpadding="0" cellspacing="0" width="100%" >
  <TR > 
  <td height=75 valign=top width=84 rowspan=3>
    
      <a href="/Home">
       <img name="logo" src="/images/logo.jpg" width="84" height="75" border="0" alt="KB Cores">
      </a>
    </td><TD height="32"  > &nbsp;</TD></TR>
  <TR ><TD   background="/images/bar.gif" > &nbsp;</TD> </TR>
  <TR ><TD  height="30">&nbsp; </TD> </TR>
 </TABLE>
</TD>
</TR>
<TR>
<TD width=25></TD>
<TD bgcolor="#FFFFFF">  
  <TABLE><TR><TD width=20></TD>
   <TD> 
   <div align="left">
   <p><span class="bodytitle"><br>
   <%= controller.screen_name %> </span></p>
   <p><%= @content_for_layout %></p>
   </div>
  </TD></TR></TABLE>
</TD>

</TR>
</TABLE>







  <table border="0" cellpadding="0" cellspacing="0">
	<tr>
	<td bgcolor=#999999 width="50%" height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="8" border="0" alt=""></td>
	<td bgcolor=#999999 width="605" height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="8" border="0" alt=""></td>
	<td bgcolor=#999999 width=185 rowspan=3 height="17" border="0" alt="" class="footer">
		<img name="space" src="/images/space.gif" width="5" height="8" border="0" alt="">
		Copyright &copy; 2003 KB Cores
		<img name="space" src="/images/space.gif" width="5" height="8" border="0" alt=""></td>
	<td bgcolor=#999999 width="50%" height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="8" border="0" alt=""></td>
	</tr>
	
	<tr>
	<td bgcolor=#33333 width="50%" height="1" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
	<td bgcolor=#33333 height="1" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
	<td bgcolor=#33333 width="50%" height="1" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="1" border="0" alt=""></td>
	</tr>

	<tr>
	<td bgcolor=#999999 width="50%" height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="8" border="0" alt=""></td>
	<td bgcolor=#999999 height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="8" border="0" alt=""></td>
	<td bgcolor=#999999 width="50%" height="8" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="8" border="0" alt=""></td>
	</tr>
	
	<tr>
	<td bgcolor=#CCCCCC width="50%" height="5" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="5" border="0" alt=""></td>
	<td bgcolor=#CCCCCC colspan=2 width="790" height="1" border="0" alt=""><img name="space" src="/images/space.gif" width="790" height="5" border="0" alt=""></td>
	<td bgcolor=#CCCCCC width="50%" height="5" border="0" alt=""><img name="space" src="/images/space.gif" width="1" height="5" border="0" alt=""></td>
	</tr>
	
</table>


</body>
</html>
